[submodule "taproot"]
	path = taproot
	url = https://gitlab.com/aruw/controls/taproot.git
[submodule "taproot-scripts"]
	path = taproot-scripts
	url = https://gitlab.com/aruw/controls/taproot-scripts.git
