*.pyc

ut-robomaster/build/
ut-robomaster/Pipfile.lock
project.xml.log
rtt.log
ssh.config

.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.sconsign.dblite
.robot_type.txt

gcov-result

docs/_build
docs/api
docs/doxyoutput