Host standard
    Hostname b48c9d350c69.dynamic.utexas.edu

Host hero
    Hostname b48c9d34cf85.dynamic.utexas.edu

Host sentry
    Hostname b48c9d34cf85.dynamic.utexas.edu
    
Host wired
    Hostname 192.168.55.1
    StrictHostKeyChecking off

Host *
    User stampede
    LocalForward 7184 localhost:7184
    ExitOnForwardFailure yes